.container,
.basic-information,
.educational-qualifications,
.education-details,
.education-details > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.container {
  gap: 2.2rem;
}

.basic-information {
  gap: 0.7rem;
  background: #0e374e;
  color: white;
  padding: 2rem;
}

.basic-information,
.educational-qualifications {
  text-align: center;
}

.educational-qualifications {
  gap: 0.7rem;
}

h2 {
  font-size: 2.5rem;
}

.email-and-phone {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

img {
  display: none;
}

.title-of-section {
  background-color: #eef1f3;
  padding: 0.7rem;
}

.education-details {
  gap: 0.3rem;
  padding: 0px 2rem;
}

.education-details > div:nth-child(2) {
  gap: 0.3rem;
}
