.container,
.container > div,
.basic-information,
.educational-qualifications,
.education-details,
.education-details > div,
.work-experience,
.work-details,
.work-details > div {
  display: flex;
  flex-direction: column;
}

.container {
  gap: 2.2rem;
  min-height: 100vh;
  padding-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container > div {
  gap: 2rem;
  flex-grow: 1;
}

.basic-information {
  gap: 0.7rem;
  background: #0e374e;
  color: white;
  padding: 2rem;
}

.basic-information {
  text-align: center;
}

.educational-qualifications,
.work-experience {
  gap: 0.7rem;
}

h2 {
  font-size: 2.5rem;
}

.email-and-phone {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

img {
  display: none;
}

.title-of-section {
  background-color: #eef1f3;
  padding: 0.7rem 0 0.7rem 2rem;
  margin: 0 1rem;
}

.education-details,
.work-details {
  gap: 0.3rem;
  padding: 0px 2.7rem;
}

.education-details > div,
.work-details > div {
  gap: 0.3rem;
}

.edit-button {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .container {
    margin: 0 auto;
    box-shadow: 0px 9px 22px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 9px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 22px 0px rgba(0, 0, 0, 0.75);
  }

  img {
    display: block;
    width: 1.8rem;
    filter: invert(100%);
  }

  .details-container {
    display: flex;
    /* justify-content: center; */
    gap: 0.4rem;
  }

  .details-container > div {
    align-self: center;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .container {
    width: clamp(70vw, 75vw, 80vw);
  }
}
