@font-face {
  font-family: "Alegreya Sans SC";
  src: url(./assets/fonts/AlegreyaSansSC-Regular.ttf);
}

.form-container {
  background-color: #eef1f3;
}

.form-body {
  font-size: 1.2rem;
  padding: 0.9rem;
  margin: auto;
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 0px 9px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 9px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 9px 22px 0px rgba(0, 0, 0, 0.75);
  background-color: #0e374e;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input,
textarea {
  width: 100%;
  font-size: inherit;
  padding: 0.6rem;
  border: 1px solid black;
  border-radius: 20px;
  outline: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

label {
  display: block;
  font-family: Alegreya Sans SC, "Arial Narrow", Arial, sans-serif;
  padding-top: 1.2rem;
}

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.basic-info,
.education-info,
.work-experience-info {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1rem;
}

.section-title {
  padding-bottom: 0.3rem;
}

form > button {
  background-color: white;
}

@media (min-width: 600px) {
  .subsection {
    display: flex;
    gap: 2rem;
  }

  .subsection > div {
    flex: 1;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .form-body {
    width: clamp(70vw, 75vw, 80vw);
  }
}

@media (min-width: 1000px) {
  .form-body {
    max-width: 60vw;
  }
}
